@font-face {
  font-family: "moncerrat-general";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
/** Background general de la pagina**/
body {
  background-image: url(../img/pngtree-pastel-pink-textured-background-with-abstract-watercolor-painting-image_13721736.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/** Header **/
header {
  box-shadow: 0px 0px 9px 0px rgb(0, 0, 0);
}
header nav {
  background-color: rgb(241, 116, 193);
  font-family: moncerrat-general;
}

/** Footer **/
footer {
  background-color: rgb(241, 116, 193);
  font-family: moncerrat-general;
  box-shadow: 0px 0px 9px 0px rgb(0, 0, 0);
  margin-top: 1rem;
}

/** CSS pagina index **/
.texto-index {
  width: 50%;
  border-style: none;
  background-color: antiquewhite;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  margin: 1rem 25% 1rem 25%;
  font-family: moncerrat-general;
  box-shadow: 2px 2px 9px 0px rgb(0, 0, 0);
}

.video-index {
  text-align: center;
  font-family: moncerrat-general;
}

.bienvenida {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: moncerrat-general;
}

.contenedor-carrusel {
  width: 100%;
}
.contenedor-carrusel .carrusel {
  margin-top: 1rem;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 1rem;
}
.contenedor-carrusel .carrusel div {
  width: 100%;
}
.contenedor-carrusel .carrusel div div {
  width: 100%;
  border-radius: 50%;
}
.contenedor-carrusel .carrusel div div div {
  width: 100%;
}

.video-index-enlace {
  width: 50%;
}

/* css pagina contactos  */
.main-contacto {
  display: flex;
  margin: 3rem;
}
.main-contacto section {
  margin-bottom: 2rem;
}

/* Css personal */
.imagen-personal {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
.imagen-personal img {
  width: 30rem;
  margin-right: auto;
  margin-left: auto;
  mask-image: linear-gradient(rgb(241, 116, 193) 50%, transparent);
}

.texto-personal {
  width: 100%;
  display: flex;
}
.texto-personal .contenedor-personal {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.texto-personal .contenedor-personal .titulosuperiorrecetas {
  text-align: center;
}
.texto-personal .contenedor-personal .parrafosuperiorrecetas {
  margin-top: 2rem;
}
.texto-personal .contenedor-personal p {
  text-align: center;
  font-family: moncerrat-general;
}

/* responsive */
@media (max-width: 480px) {
  .imagen-personal img {
    width: 60%;
  }
}
/* css recetas*/
.titulos-recetas {
  display: block;
  width: 100% h1;
  margin-top: 2rem;
  text-align: center;
  font-family: moncerrat-general;
}
.titulos-recetas h3 {
  text-align: center;
  font-family: moncerrat-general;
  margin-bottom: 2rem;
}

.recetas {
  display: flex;
  width: 100%;
}
.recetas div {
  width: 20rem;
  text-align: center;
  font-family: moncerrat-general;
}
.recetas .receta-1 {
  margin-left: 10%;
}
.recetas .receta-2 {
  margin-left: auto;
  margin-right: auto;
}
.recetas .receta-3 {
  margin-right: 10%;
}

/* responsive */
@media (max-width: 1250px) {
  .recetas {
    display: block;
  }
  .recetas .receta-1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
  .recetas .receta-1 img {
    margin-top: 1rem;
  }
  .recetas .receta-2 {
    margin-top: 2rem;
  }
  .recetas .receta-2 img {
    margin-top: 1rem;
  }
  .recetas .receta-3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
  .recetas .receta-3 img {
    margin-top: 1rem;
  }
}
/* css pagina venta  */
.imagen-venta-1 {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.imagen-venta-1 img {
  width: 200px;
  height: 200px;
  background-color: rgb(241, 116, 193);
  margin-left: auto;
  margin-right: auto;
}

.contenedor-card {
  width: 100%;
}
.contenedor-card .card {
  width: 75%;
  margin: auto;
  font-family: moncerrat-general;
}
.contenedor-card .card .card-body a {
  margin-left: 40%;
  margin-right: 40%;
}

/*# sourceMappingURL=main.css.map */
